$black: #2E3C3D;
$white: #ffffff;
$grey: #F5F5F5;
$color-1: #79BD9A;
$color-2: #1B676B;
$color-3: #CFF09E;
$color-4: #EAFDE6;
$border: #A8BCBD;

$xs: "(max-width: 340px)";
$sm: "(max-width: 767px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";